# Dot files
.*

# Coverage directory used by istanbul
coverage

# Exceptions
!.babelrc.json
!.eslintrc.json
!.gitignore
!.gitkeep
!.prettierrc.json
!.stylelintrc.json

# Nuxt generate
dist

# Dependency directories
node_modules

# Log files
*.log

# Service worker
sw.*
